/* 
$color-blue: #0065fc;
$color-lightBlue: #deebff;
$color-grey: #f2f2f2; */

/* reset des marges  */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  margin: auto;
  box-sizing: border-box;
  font-family: 'raleway', sans-serif;
  min-width: 350px;
  max-width: 1375px;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 0px 50px 20px;
}

header img {
  width: 110px;
  padding-top: 50px;
}

nav {
  width: 33%;
}

nav ul {
  display: flex;
}

nav li {
  width: 50%;
  padding-top: 75px;
  list-style-type: none;
  text-align: center;
}

/* Changement des liens au survol */
nav ul li:hover {
  color: #0065fc;
  border-top: #0065fc solid 3px;
}
/* couleur des liens hérités de li:hover */
nav a {
  color: inherit;
  text-decoration: none;
}

/* section recherche + filtre */

section.recherches {
  padding: 20px;
}
section.recherches p {
  margin-bottom: 30px;
}
/* champ de recherche  texte  */
form {
  display: flex;
  height: 50px;
  max-width: 420px;
  border: #f2f2f2 solid 1px;
  border-radius: 15px;
}
/* Label icone localisation */
form i.fa-location-dot {
  width: 50px;
  padding-top: 25px;
  background-color: #f2f2f2;
  text-align: center;
  border-radius: 15px 0 0 15px;
}

input {
  padding-left: 10px;
  font-weight: bold;
  border: none;
  flex-grow: 1;
}
form button:hover {
  color: #0065fc;
  background-color: #deebff;
  -webkit-box-shadow: 1px 1px 5px 3px #000000;
  box-shadow: 1px 1px 5px 3px #000000;
}
/* Button switch selon la taille de l'écran */
button.phone-only {
  display: none;
  width: 50px;
  height: 50px;
  color: white;
  background-color: #0065fc;
  border: none;
  border-radius: 15px;
}
button.tablet-desktop {
  width: 130px;
  font-weight: bold;
  color: white;
  background-color: #0065fc;
  border: none;
  border-radius: 0 15px 15px 0;
  flex-shrink: 0;
}
/* ----------------- */

/* Breakpoint header + navigation */
@media screen and (max-width: 768px) {
  header {
    margin: 0;
    align-items: center;
    flex-direction: column;
  }
  nav {
    width: 100%;
  }
  nav li {
    padding-top: 30px;
    padding-bottom: 15px;
  }
  nav ul li:hover {
    border-top: none;
    border-bottom: #0065fc solid 3px;
  }
}

/* breakpoint button tablette + desktop */
@media screen and (max-width: 500px) {
  button.phone-only {
    display: block;
  }
  button.tablet-desktop {
    display: none;
  }
}

section.filtres {
  display: flex;
  flex-wrap: wrap;
}

.btn-filtre {
  position: relative;
  height: 50px;
}
i .fa-money-bill-wave {
  height: 50px;
  width: 50px;
  padding-top: 20px;
  border-radius: 50%;
  background-color: #deebff;
  /* #0065fc; */
}
