/* reset des marges  */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  margin: auto;
  box-sizing: border-box;
  font-family: 'raleway', sans-serif;
  font-weight: 500;
  min-width: 350px;
  max-width: 1440px;
}
a {
  text-decoration: none;
  color: #000000;
}
/* ------ Header et naviagation ------  */
header {
  display: flex;
  justify-content: space-between;
  margin: 0px 50px 20px;
}

header img {
  width: 110px;
  padding-top: 50px;
}

nav {
  width: 300px;
}

nav ul {
  display: flex;
}

nav li {
  width: 50%;
  padding-top: 75px;
  list-style-type: none;
  text-align: center;
}

/* Changement des liens au survol */
nav ul li:hover {
  color: #0065fc;
  border-top: #0065fc solid 3px;
}
/* couleur des liens hérités de li:hover */
nav a {
  color: inherit;
  text-decoration: none;
}
/* ------  ------  */

/* ------ section recherche + formulaire ------*/

section {
  padding: 20px;
}
.recherches p {
  margin-bottom: 30px;
}
/* champ de recherche  texte  */
form {
  display: flex;
  height: 50px;
  margin-bottom: 15px;
  max-width: 420px;
  border: #f2f2f2 solid 1px;
  border-radius: 15px;
}
/* Label icone localisation */
form i {
  width: 50px;
  padding-top: 25px;
  text-align: center;
  border-radius: 15px 0 0 15px;
  background-color: #f2f2f2;
}

input {
  padding-left: 10px;
  font-weight: bold;
  border: none;
  flex-grow: 1;
}
form input:focus {
  background-color: rgba(236, 161, 69, 0.26);
}
form button:hover {
  color: #0065fc;
  background-color: #deebff;
  -webkit-box-shadow: 1px 1px 2px 1px #000000;
  box-shadow: 1px 1px 2px 1px #000000;
}
/* Button switch selon la taille de l'écran */
button.smartphone {
  display: none;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 15px;
  color: white;
  background-color: #0065fc;
}
button.tablette-bureau {
  width: 130px;
  border: none;
  border-radius: 0 15px 15px 0;
  font-weight: bold;
  color: white;
  background-color: #0065fc;
  flex-shrink: 0;
}
/* ------  ------  */

/* ------ section des filtres------ */

.filtres {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.filtres button {
  display: flex;
  align-items: center;
  height: 50px;
  margin: 0 20px 10px 0;
  padding-right: 20px;
  border: #f2f2f2 solid 3px;
  border-left: none;
  border-radius: 25px;
  background-color: white;
  font-weight: bold;
}
.filtres button:hover {
  background-color: #deebff;
  border: #deebff solid;
  border-left: none;
  -webkit-box-shadow: 1px 1px 2px 1px #000000;
  box-shadow: 1px 1px 2px 1px #000000;
}

/* le survol affecte aussi l'icone  */
.filtres button:hover > i {
  color: #deebff;
  background-color: #0065fc;
}

.filtres h2 {
  margin: 0 30px 15px 0;
}
.filtres button i {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  padding-top: 25px;
  border-radius: 25px;
  color: #0065fc;
  background-color: #deebff;
}
.filtres p {
  width: 100%;
  margin: 20px 0;
}
.filtres i {
  margin-right: 10px;
  color: #0065fc;
}
/* création icone + cercle :  indisponible sur font-awesome */
i.cercle {
  height: 25px;
  width: 25px;
  padding-top: 11px;
  text-align: center;
  border: 1px solid gray;
  border-radius: 50%;
}
/* ------  ------ */

/* Breakpoint header + navigation */
@media screen and (max-width: 768px) {
  header {
    margin: 0;
    align-items: center;
    flex-direction: column;
  }
  nav {
    width: 100%;
  }
  nav li {
    padding: 30px 0 15px;
  }
  nav ul li:hover {
    border-top: none;
    border-bottom: #0065fc solid 3px;
  }
}

/* breakpoint button tablette + desktop */
@media screen and (max-width: 500px) {
  button.smartphone {
    display: block;
  }
  button.tablette-bureau {
    display: none;
  }
}

/* breakpoint retour à la ligne section filtres h2 */
@media screen and (max-width: 992px) {
  section.filtres h2 {
    width: 100%;
  }
}
section.conteneur-hebergement-populaire {
  display: flex;
}

article {
  width: 60%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: #f2f2f2;
  border-radius: 20px;
}

aside {
  width: 30%;
  background-color: #f2f2f2;
  border-radius: 20px;
}

#hebergement h2,
#hebergement p {
  width: 100%;
}
.carte-hebergement {
  position: relative;
  width: 250px;
  height: 200px;
  padding: 5px;
  border-radius: 20px;
  background-color: white;
  object-fit: cover;
  overflow: hidden;
}
.carte-populaire {
  position: relative;
  width: 350px;
  height: 150px;
  padding: 5px;
  border-radius: 20px;
  background-color: white;
  object-fit: cover;
  overflow: hidden;
}

.carte-hebergement img {
  width: 100%;
  height: 130px;
  border-radius: 20px;
  object-fit: cover;
}
.carte-populaire img {
  width: 150px;
  height: 100%;
  border-radius: 20px;
  object-fit: cover;
}
.carte-info {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
}
.carte-info--hebergement {
  bottom: 0;
  width: 100%;
  height: 80px;
  padding: 10px;
  font-size: 14px;
}
/* .carte-info--populaire {
  right: 0px;
  width: 150px;
  height: 100%;
  /* padding: 10px; */
  font-size: 14px;
} */

h3 {
  font-size: 16px;
}

/* couleur des étoiles de notation */
.carte-note i {
  color: #0065fc;
}
i.grey {
  color: grey;
}
