/* reset des marges  */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  margin: auto;
  box-sizing: border-box;
  font-family: 'raleway', sans-serif;
  font-weight: 500;
  min-width: 350px;
  max-width: 1400px;
}
a {
  text-decoration: none;
  color: #000000;
}
h2 {
  font-size: 18px;
}
h3 {
  font-size: 14px;
}

h1,
h2,
h3,
input,
span,
.afficher-plus {
  font-weight: 800;
}
/* couleur des étoiles de notation */
.carte-note i {
  color: #0065fc;
}
i.grey {
  color: grey;
}
/* ------ Header et navigation ------  */
header.principal {
  display: flex;
  justify-content: space-between;
  margin: 0px 50px 20px;
}

header.principal img {
  width: 110px;
  padding-top: 30px;
}

nav {
  width: 300px;
}

nav ul {
  display: flex;
}

nav li {
  width: 50%;
  padding-top: 55px;
  list-style-type: none;
  text-align: center;
}

/* Changement des liens au survol */
nav ul li:hover {
  color: #0065fc;
  border-top: #0065fc solid 3px;
}
/* couleur des liens hérités de li:hover */
nav a {
  font-weight: 600;
  color: inherit;
  text-decoration: none;
}
/* ------  ------  */

/* ------ section recherche + formulaire ------*/

section {
  margin: 25px 20px;
}

.recherches p {
  margin-bottom: 30px;
}
/* champ de recherche  texte  */
form {
  display: flex;
  height: 50px;
  margin-bottom: 15px;
  max-width: 420px;
  border: #f2f2f2 solid 1px;
  border-radius: 15px;
}
/* Label icone localisation */
form i.pointeur {
  width: 50px;
  padding-top: 25px;
  text-align: center;
  border-radius: 15px 0 0 15px;
  background-color: #f2f2f2;
}

input {
  padding-left: 10px;
  border: none;
  flex-grow: 1;
}
form input:focus {
  background-color: rgba(236, 161, 69, 0.26);
}
form button:hover {
  color: #0065fc;
  background-color: #deebff;
  -webkit-box-shadow: 1px 1px 2px 1px #000000;
  box-shadow: 1px 1px 2px 1px #000000;
}
/* Button switch selon la taille de l'écran */
button.smartphone {
  display: none;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 15px;
  color: white;
  background-color: #0065fc;
}
button.tablette-bureau {
  width: 130px;
  border: none;
  border-radius: 0 15px 15px 0;
  font-weight: bold;
  color: white;
  background-color: #0065fc;
  flex-shrink: 0;
}
/* ------  ------  */

/* ------ section des FILTRES------ */

section.filtres {
  margin-bottom: 30px;
}

.filtres {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.filtres button {
  display: flex;
  align-items: center;
  height: 50px;
  margin: 0 15px 10px 0;
  padding-right: 15px;
  border: #f2f2f2 solid 3px;
  border-left: none;
  border-radius: 25px;
  background-color: white;
  font-weight: bold;
}
.filtres button:hover {
  background-color: #deebff;
  border: #deebff solid;
  border-left: none;
  -webkit-box-shadow: 1px 1px 2px 1px #000000;
  box-shadow: 1px 1px 2px 1px #000000;
}

/* le survol affecte aussi l'icone  */
.filtres button:hover > i {
  color: #deebff;
  background-color: #0065fc;
}

.filtres h2 {
  margin-right: 30px;
}
.filtres button i {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  padding-top: 25px;
  border-radius: 25px;
  color: #0065fc;
  background-color: #deebff;
}
.filtres p {
  width: 100%;
  margin: 20px 0 0;
}
.filtres i {
  margin-right: 10px;
  color: #0065fc;
}
/* création icone + cercle :  indisponible sur font-awesome */
i.cercle {
  height: 25px;
  width: 25px;
  padding-top: 11px;
  text-align: center;
  border: 1px solid gray;
  border-radius: 50%;
}
/* ------  ------ */

/* ----- Partie  VIGNETTES  ------- */

section.conteneur-hebergement-populaire {
  display: flex;
  justify-content: space-between;
}

article {
  width: 68%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: #f2f2f2;
  border-radius: 20px;
}

aside {
  width: 29%;
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  background-color: #f2f2f2;
  border-radius: 20px;
}

#hebergement h2,
#activites h2 {
  width: 100%;
  margin: 40px 30px 20px;
}
.afficher-plus {
  width: 100%;
  margin: 0px 30px 30px;
}

/* Partie héberegement + populaire + activité  */
.carte-hebergement,
.carte-populaire,
.carte-activites {
  border-radius: 20px;
  box-shadow: 0 0 2px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 2px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 2px 0px rgba(0, 0, 0, 0.2);
  background-color: white;
}
.carte-hebergement:hover,
.carte-populaire:hover,
.carte-activites:hover {
  -webkit-box-shadow: 1px 1px 2px 1px #000000;
  box-shadow: 1px 1px 2px 1px #000000;
}

/* Cartes Hébergement  ------*/
.carte-hebergement {
  width: 30%;
  height: 200px;
  margin-bottom: 30px;
  padding: 5px;
}

.carte-hebergement img {
  width: 100%;
  height: 65%;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
}
.carte-hebergement__info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 35%;
  padding: 0 10px 5px;
  font-size: 14px;
}

/* Cartes Populaire  ------*/
header.populaire {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px 30px 20px;
}
.carte-populaire {
  width: 90%;
  height: 130px;
  margin: 0px auto 40px;
}
.conteneur-populaire {
  display: flex;
  height: 100%;
}
.carte-populaire img {
  width: 40%;
  height: 100%;
  border-radius: 20px 0 0 20px;
  object-fit: cover;
}

.conteneur-populaire__info {
  position: relative;
  width: 60%;
  padding: 5px 10px;
  font-size: 14px;
}

.conteneur-populaire__info p {
  padding: 4px 0;
}
.conteneur-populaire__info .carte-note {
  position: absolute;
  bottom: 3px;
}

/*   Cartes activité ------ */
#activites {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#activites h2 {
  width: 100%;
}
#activites h3 {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  padding-left: 7px;
  background-color: white;
}

.carte-activites {
  position: relative;
  overflow: hidden;
}
.duo-vignette {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 23%;
}
.carte-vieux-port,
.carte-calanques {
  width: 23%;
  height: 440px;
}

.carte-pomegues {
  height: 230px;
}
.carte-frioul {
  height: 150px;
}

.carte-notre-dame {
  height: 190px;
}
.carte-longchamp {
  height: 210px;
}
.carte-activites img {
  display: block;
  height: 100%;
  width: 100%;
  border-radius: 20px;
  object-fit: cover;
}

.carte-vieux-port,
.carte-calanques {
  height: 430px;
}
